/*ANIMATE*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
}

.first {
  background-color: var(--first-color);
}

.second {
  background-color: var(--first-color);
  left: 33.3%;
}

.third {
  background-color: var(--first-color);
  left: 66.6%;
}

.footer {
    padding: 90px 0 80px !important;
    color: #999;
    background-color: #1f1f1f;
}
